.detail {
    font-size: 1.4rem;
    display:flex;
    padding: 3.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-std);

    @include respond(tab-port) { 
        flex-direction: column;
        padding: 2rem;
    }

}
