.footer__link,
.footer__github {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-decoration: none;
    transition: all .5s;
}

.footer__github {
    font-size: 3rem;
}


.footer__link:hover,
.footer__github:hover {
    color: var(--color-primary);
    -webkit-animation: githubAnim 1s infinite ease;
    animation: githubAnim 1s infinite;
}