.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--border-light);
    display:flex;
    justify-content: space-between; /*devides the empty space between the elements*/
    align-items: center;

    @include respond(small-phone) { 
        flex-wrap:wrap;
        height: 11rem;
        align-content: space-around;
    }
}

