.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
<<<<<<< HEAD
    border-bottom: var(--border-light);
=======
    border-bottom: var(--border-std);
>>>>>>> d2b48d0d2d5f8ab5194a0d9eeeaebcba4f42c819
    display:flex;
    justify-content: space-between; /*devides the empty space between the elements*/
    align-items: center;
}