.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; /*display flex is defined in the content*/
    display: flex;
    flex-direction: column; /*now main axis is from top to bottom*/
    justify-content: space-between; /*legal div is at the bottom now*/

}


//////////////////////
//Side nav

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 3.5rem;

    @include respond(tab-port) { 
        display: flex;
        margin:0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .7rem;

            @include respond(tab-port) { 
                margin:0;
            }
        }

        @include respond(tab-port) { 
            flex:1;
        }
    }

    &__item::before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        //transform-origin: bottom; /*effect will appear from the bottom*/
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .2s ;
                    //delay of 4s ( time for the first transform ) for width to start
    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width:100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    //will change the color once clicked

    //by setting up a active state, it will be highlighted by default

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3.5rem;

        display: flex;
        align-items: center; /*icons and text are aligned*/

        position:relative;
        z-index: 999;
        //z-index only work if position is specificied before
        @include respond(tab-port) { 
            justify-content: center;
            padding: 2rem;
        }
    }

    

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; //currentColor = color of the parent element

    }
}

