.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        color: var(--color-grey-dark-1);

        span { /*animating the arrond &rarr;*/
            margin-left:8px;
            transition: margin-left .4s;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }

    & span {
        margin-left: 3px;
    }
}

.cta-btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > * {
        height:100%; /*very important in this kind of animation to define height and width*/
        width:100%; 
        display: inline-block;
        transition: all .5s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        height:100%;
        width:100%; 
        left: 0;
        top: -100%; /*move up exactly the size of the element !*/
    }


    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }
    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
    
}